<?xml version="1.0" encoding="UTF-8" ?>
<!-- 이게 있어야 ctrl + spacebar가 된다. -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace이름은 인터페이스와 동일하게 줘야 인식한다. -->
 
  <mapper namespace="org.salem.mapper.TodoMapper">
  	<!-- 메소드의 이름이 id이다. 세미콜론 있으면 안됨 조심~
  	          항상 select문은 resultType을 줘야한다-->
  	<select id="select" resultType="org.salem.domain.Todo">
  		select * from tbl_todo
  	</select>
  	
  	<insert id="insert">
  		insert into tbl_todo(title)
  		values(#{title})
  	</insert>
  	
  	<delete id="delete">
  		delete from tbl_todo where tno = #{tno}
  	</delete>
  	
  	<update id="update">
  		update tbl_todo set title = #{title} where tno = #{tno}
  	</update>
  	
  </mapper>